.collapse-arrow .collapse-title.fixed-arrow:after {
    top: 0.6rem;
    transform-origin: 100% 100%;
}

.home-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.home-tabs::-webkit-scrollbar {
    display: none;
}

.home-tabs .tab {
    font-size: 16px;
    font-weight: 600;
    min-width: fit-content;
}

.home-tabs .tab.tab-active {
    border-bottom: 3px solid hsl(var(--p) / var(--tw-text-opacity));
}

.testimonial::before {
    content: "\201C";
    font-family: Arial, sans-serif;
    font-size: 68px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: -40px;
}

@media screen and (max-width: 1024px) {
    .testimonial::before {
        top: 10px;
        left: -40px;
    }
}

@media screen and (max-width: 475px) {
    .testimonial::before {
        display: none;
    }
}